* {
  background-color: #a84426;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ffffff;
  text-decoration: none;
  list-style: none;
}

html {
  font-family: "Ubuntu", sans-serif;
  scroll-behavior: smooth;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 1rem;
  background-color: #a84426;
  z-index: 999;
}

.cabeçalho-link {
  display: flex;
  gap: 3rem;
  font-weight: 300;
  cursor: pointer;
  margin-bottom: 18px;
}

.cabeçalho-link a {
  color: #fff;
  font-size: 15px;
}

.conteudo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(173vh - 60px); 
  padding-top: 60px; 
}

.social-links {
  display: flex;
  gap: 70px;
  margin-top: 20px;
  margin-bottom: 300px;
}

.social-links img {
  width: 100px;
  height: 100px; 
  transition: transform 0.3s;
}

.social-links img:hover {
  transform: scale(1.1);
}

.imagem-container {
  max-width: 100%;
  margin-bottom: 10px;
}

.imagem-background {
  max-width: 100%;
  height: auto;
}
