* {
  background-color: #a84426;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ffffff;
  text-decoration: none;
  list-style: none;
}

html {
  font-family: "Ubuntu", sans-serif;
  scroll-behavior: smooth;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding-top: 1rem;
  background-color: #a84426;
  z-index: 999;
}

.cabeçalho-link {
  display: flex;
  gap: 3rem;
  font-weight: 300;
  cursor: pointer;
  margin-bottom: 18px;
}

.cabeçalho-link a {
  color: #fff;
  font-size: 15px;
}

.imagem-container {
  max-width: 100%;
  margin-bottom: 20px;
}

.imagem-background {
  max-width: 100%;
  height: auto;
}

.links {
  display: none;
}

.desenvol,
.implant,
.model,
.humanas,
.linguagens,
.matematica,
.naturezas {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

.btnmateria {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    display: none;
}

.btnmateria button {
  background-color: #c06500;
  color: rgb(255, 255, 255);
}

.trimestre {
  justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    display: flex;
}

.botoes {
    margin-bottom: 100px;
}

.btn {
  width: 8.5em;
  height: 3.3em;
  margin: 0.5em;
  background: #853400;
  color: white;
  border: none;
  border-radius: 0.925em;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  z-index: 1;
  overflow: hidden;
}
